<body *ngFor='let item of recipeService.list' routerLink="/recipe/:{{item.id}}/details">
  <div class="card">
    <div class="card-body">
      <div class="title">
        <h2>
          {{item.title}}
        </h2>
        <div>
          <button type="button">More</button>
        </div>
      </div>
      <hr>
      <img src={{item.front_image}} alt={{item.title}}>
      <div class="rating">
        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
      </div>
      <div class="section">
        Rating: {{item.likes}}
      </div>
      <div class="section">
        <strong>Description:</strong> {{item.description}}
      </div>
<!--      <div class="section">
        <strong>Ingredients:</strong> {{item.ingredients}}
      </div>
      <div class="section">
        Comments: {{item.comments}}
      </div>
      -->
    </div>
  </div>
</body>
