<nav>
  <div class="container1">
    <div class="logo">
      <img src="../../assets/ramen.svg" alt="">
      <div class="nav-title">
        <a>bowl time</a>
      </div>
    </div>
    <div class="search-bar input-group">
      <label>
        <input type="text" placeholder="Search"/>
      </label>
    </div>
    <div class="btn-group">
      <div>
        <button [routerLink]="['/login']" class="unit" type="button" id="login">Login</button>
      </div>
      <div>
        <button [routerLink]="['/signup']" class="unit" type="button" id="signup">Sign up</button>
      </div>
      <div>
        <button [routerLink]="['/profile/details']" class="unit setInvisible" id="profile" type="button">Profile</button>
      </div>
    </div>
  </div>
</nav>
